<!DOCTYPE html>
<html>
<head>
<title>404</title>
<style>
body {
  background-color: BurlyWood;
}
p {
  font-size: 70px;
}
</style>
</head>
<body>

 <p>404 file not found!!!</p>
    <img id="img1" src="https://walfiegif.files.wordpress.com/2020/11/out-transparent-39.gif?w=640"></img>

</body>
</html>
